.skills {
  margin-bottom: 30px;
  padding: $gap / 2;

  &__container {
    display: grid;

    margin-bottom: $gap;

    gap: $gap / 2;
    grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  }

  &__actions {
    display: flex;

    justify-content: center;
  }
}
