.header-navbar
{
    &__btn
    {
        display: none;
    }

    &__list
    {
        display: grid;

        margin: 0 -20px 0 0;
        padding: 0;

        list-style: none;

        grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
        justify-content: end;
    }

    &__item
    {
        margin: 0 10px;
    }

    &__link
    {
        font-size: 1.125rem;

        padding: 10px;

        transition: color .5s;

        &:hover,
        &:focus
        {
            color: $color-accent;
        }
    }
}
