.header-navbar {
  &__btn {
    display: none;
  }

  &__list {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    @include unlis(0 -$gap 0 0);
  }

  &__item {
    margin: 0 $gap / 2;
  }

  &__link {
    padding: $gap / 2;

    transition: color 0.5s;

    font-size: 1.125rem;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
